*{
  font-family: 'Bebas Neue', cursive;
  margin: 0;
  padding: 0;
}
body{
  background-color: silver;
}

#main{
padding: 0px;
box-sizing: border-box;
height: 100%;
}

#book-list{
  padding: 0;
}

#book-list li{
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid black;
  box-shadow:1px 2px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  color: white;
  background-color: rgb(57, 146, 57);
}

input{
  text-align: center;
}

#main h1{
  color: #444;
  text-align: center;
}

form{
  padding: 20px;
  margin: auto;
  left: 0;
  bottom: 0;
  width: 345px;
  position: relative;
  top: 10px;
}
@media (min-width: 400px) {
  form {
    padding: 20px;
    margin: auto;
    position: relative;
    top: 10px;
  }
}

form .field{
  display: grid;
  background-color: gray;
  grid-template-columns: 1fr, 1fr;
  grid-gap: 10px;
}

form label{
  text-align: center;
  position: relative;
  top: 12px;
  padding: 4px;
  font-size: 1.2em;
  color: white;

}

form select, form input{
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
}

form button{
font-size: 2em;
background-color: green;
border: 0;
padding: 0 10px;
border-radius: 20px;
color: white;
cursor: pointer;
}


#book-details{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  background-color: gray;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px -5px rgba(0,0,0,0.3);
}


